<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <!-- title -->
    <title>作业管理系统 | 选课详情</title>
    <!-- favicon -->
    <link rel="icon" th:href="@{/static/images/favicon.png}" type="image/png">
    <!-- css -->
    <link rel="stylesheet" th:href="@{/static/lib/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/lib/metismenu/metisMenu.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/main.css}">
</head>

<body>
    <!-- preloader start -->
    <div th:replace="~{/student/index::preloader}"></div>
    <!-- preloader end -->
    <!-- main wrapper start -->
    <div class="main-wrapper">
        <!-- sidebar start -->
        <aside th:replace="~{/student/index::sidebar}"></aside>
        <!-- sidebar end -->
        <!-- header start -->
        <header th:replace="~{/student/index::header}"></header>
        <!-- header end -->
        <!-- main content start -->
        <div class="main-content">
            <div class="page-title">
                <div class="row">
                    <div class="col">
                        <h2>选课详情</h2>
                    </div>
                </div>
            </div>
            <div class="page-content">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>课程编号</th>
                                    <th>课程名称</th>
                                    <th>教师编号</th>
                                    <th>教师姓名</th>
                                    <th>学生编号</th>
                                    <th>学生姓名</th>
                                    <th>选课时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td th:text="${courseSelectionVO.getId()}"></td>
                                    <td th:text="${courseSelectionVO.getCourseVO().getNo()}"></td>
                                    <td th:text="${courseSelectionVO.getCourseVO().getTitle()}"></td>
                                    <td th:text="${courseSelectionVO.getTeacherVO().getNo()}"></td>
                                    <td th:text="${courseSelectionVO.getTeacherVO().getName()}"></td>
                                    <td th:text="${courseSelectionVO.getStudentVO().getNo()}"></td>
                                    <td th:text="${courseSelectionVO.getStudentVO().getName()}"></td>
                                    <td th:text="${courseSelectionVO.getCreateTime()}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- main content end -->
        <!-- footer start -->
        <footer th:replace="~{/student/index::footer}"></footer>
        <!-- footer end -->
    </div>
    <!-- main wrapper end -->
    <!-- js -->
    <script th:src="@{/static/lib/jquery/jquery.min.js}"></script>
    <script th:src="@{/static/lib/bootstrap/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/static/lib/metismenu/metisMenu.min.js}"></script>
    <script th:src="@{/static/js/main.js}"></script>
</body>

</html>