<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <!-- title -->
    <title>作业管理系统 | 作业信息</title>
    <!-- favicon -->
    <link rel="icon" th:href="@{/static/images/favicon.png}" type="image/png">
    <!-- css -->
    <link rel="stylesheet" th:href="@{/static/lib/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/lib/metismenu/metisMenu.min.css}">
    <link rel="stylesheet" th:href="@{/static/lib/DataTables/dataTables.bootstrap5.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/main.css}">
</head>

<body>
    <!-- preloader start -->
    <div th:replace="~{/student/index::preloader}"></div>
    <!-- preloader end -->
    <!-- main wrapper start -->
    <div class="main-wrapper">
        <!-- sidebar start -->
        <aside th:replace="~{/student/index::sidebar}"></aside>
        <!-- sidebar end -->
        <!-- header start -->
        <header th:replace="~{/student/index::header}"></header>
        <!-- header end -->
        <!-- main content start -->
        <div class="main-content">
            <div class="page-title">
                <div class="row">
                    <div class="col">
                        <h2>作业信息</h2>
                    </div>
                </div>
            </div>
            <div class="page-content">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-bordered" id="dataTable">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>课程名称</th>
                                    <th>教师姓名</th>
                                    <th>作业状态</th>
                                    <th>截止时间</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="homeworkVO : ${homeworkVOList}">
                                    <td th:text="${homeworkVO.getId()}"></td>
                                    <td th:text="${homeworkVO.getCourseTitle()}"></td>
                                    <td th:text="${homeworkVO.getTeacherName()}"></td>
                                    <td th:text="${homeworkVO.getStatus()}"></td>
                                    <td th:text="${homeworkVO.getDeadline()}"></td>
                                    <td>
                                        <a class="btn btn-primary"
                                           th:href="@{'/student/update-homework?id='+${homeworkVO.getId()}}">
                                            详情
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- main content end -->
        <!-- footer start -->
        <footer th:replace="~{/student/index::footer}"></footer>
        <!-- footer end -->
    </div>
    <!-- main wrapper end -->
    <!-- js -->
    <script th:src="@{/static/lib/jquery/jquery.min.js}"></script>
    <script th:src="@{/static/lib/bootstrap/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/static/lib/metismenu/metisMenu.min.js}"></script>
    <script th:src="@{/static/lib/DataTables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/static/lib/DataTables/dataTables.bootstrap5.min.js}"></script>
    <script th:src="@{/static/js/main.js}"></script>
</body>

</html>