<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <!-- title -->
    <title>作业管理系统 | 修改学生</title>
    <!-- favicon -->
    <link rel="icon" th:href="@{/static/images/favicon.png}" type="image/png">
    <!-- css -->
    <link rel="stylesheet" th:href="@{/static/lib/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/lib/metismenu/metisMenu.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/main.css}">
</head>

<body>
    <!-- preloader start -->
    <div th:replace="~{/admin/index::preloader}"></div>
    <!-- preloader end -->
    <!-- main wrapper start -->
    <div class="main-wrapper">
        <!-- sidebar start -->
        <aside th:replace="~{/admin/index::sidebar}"></aside>
        <!-- sidebar end -->
        <!-- header start -->
        <header th:replace="~{/admin/index::header}"></header>
        <!-- header end -->
        <!-- main content start -->
        <div class="main-content">
            <div class="page-title">
                <div class="row">
                    <div class="col">
                        <h2>修改学生</h2>
                    </div>
                </div>
            </div>
            <div class="page-content">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>用户名</th>
                                    <th>编号</th>
                                    <th>姓名</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td th:text="${studentVO.getId()}"></td>
                                    <td th:text="${studentVO.getUsername()}"></td>
                                    <td th:text="${studentVO.getNo()}"></td>
                                    <td th:text="${studentVO.getName()}"></td>
                                </tr>
                            </tbody>
                        </table>
                        <form th:action="@{/admin/update-student}" method="post">
                            <div class="form-group">
                                <label class="form-label" for="id"></label>
                                <input class="form-control" type="hidden" id="id" name="id"
                                       th:value="${studentVO.getId()}">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="username">用户名</label>
                                <input class="form-control" type="text" id="username" name="username"
                                       th:placeholder="${studentVO.getUsername()}" readonly>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="no">编号</label>
                                <input class="form-control" type="text" id="no" name="no"
                                       th:value="${studentVO.getNo()}" readonly>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="name">姓名</label>
                                <input class="form-control" type="text" id="name" name="name"
                                       th:value="${studentVO.getName()}">
                            </div>
                            <div class="col">
                                <button class="btn btn-primary">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- main content end -->

        <footer th:replace="~{/admin/index::footer}"></footer>
    </div>
    <!-- main wrapper end -->

    <!-- js -->
    <script th:src="@{/static/lib/jquery/jquery.min.js}"></script>
    <script th:src="@{/static/lib/bootstrap/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/static/lib/metismenu/metisMenu.min.js}"></script>
    <script th:src="@{/static/js/main.js}"></script>
</body>

</html>